.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

data/COVID2019StateTrackingChart.pdf
data/COVID2019StateTrackingChart.csv

backend/bin/scraper/COVID2019StateTrackingChart.pdf
backend/bin/scraper/COVID2019StateTrackingChart.csv
