body { 
margin: 0; 
padding: 0; 
font-family: sans-serif;
color: #555;
}

@media only screen and (max-width: 800px) {
    #header h1 {
        display: none;
    }
    .table {
    font-size: 75%;
    } 
}

.page {
width: 1000px;
margin: auto;
}
@media only screen and (max-width: 1100px) {
    .page {
        width: 95%;
        margin: auto;
    }
    .restriction_score {
        font-size: 75%;
    }
}

#map {
    height: 500px;
}
@media only screen and (max-width: 1100px) {
    #map {
        height: 300px;
    }
}
#header { 
	border-bottom: 1px solid black;
}
#header img { 
	max-height: 5em; 
	border: 0px solid blue;
	margin-bottom: -4px;
	max-width: 100%;
}

#header h1 {
	margin-right: 1em;
	margin-top: .7em;
	margin-bottom: .7em;
	padding: 0px;
}

p {
line-height: 200%;
}
h3 {
margin: 0;
margin-bottom: 5px;
}

h1 {
margin: 0;
color: #555;
padding: 30px 0;
padding-bottom: 0px;
margin-bottom: 0px;
}


.legend-color {
display: inline-block;
width: 10px;
height: 10px;
}

.table {
border-spacing: 1px;
width: 100%;
}
.table thead th {
border-bottom: 1px solid gray;
opacity: 0.7;
font-weight: bold;
vertical-align: top;
color: black;
padding: 5px 0;
}
.table tbody th {
text-align: left;
}
.table-code td {
background-color: #eee;
vertical-align: top;
border: 2px solid white;
padding: 2px;
color: #999;
}
.table-code td.active {
/*background-color: #4ea5ff;*/
background-color: #0F81C7;
color: white;
}
table.legend {
border-collapse: collapse;
width: 100%;
}
table.legend thead th {
padding: 5px 0;
}

p.alert {
border-left: 3px solid red;
padding-left: 10px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
border-radius: 3px;
background-color: rgba(255,0,0,0.1);
}
p.alert b {
color: red;
}
